[submodule "libraries/DMXSerial"]
	path = libraries/DMXSerial
	url = https://github.com/mathertel/DMXSerial.git
[submodule "Tetris"]
	path = Tetris
	url = https://github.com/netmindz/ESP32Tetris.git
[submodule "libraries/ledtable2"]
	path = libraries/ledtable2
	url = https://github.com/netmindz/ledtable2.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "3rdParty/psilocybe"]
	path = 3rdParty/psilocybe
	url = https://github.com/evilgeniuslabs/psilocybe.git
[submodule "https://github.com/netmindz/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos.git"]
	url = FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos/
[submodule "libraries/espsoftwareserial"]
	path = libraries/espsoftwareserial
	url = https://github.com/plerup/espsoftwareserial.git
